<hr />
<br />

<form [formGroup]="getBrokerForm" (ngSubmit)="sendGetBrokerRequest()">
  <input type="text" formControlName="broker_id" /> &nbsp;
  <span
    *ngIf="
      this.getBrokerForm.controls['broker_id'].invalid &&
      this.getBrokerForm.controls['broker_id'].touched
    "
  >
    Broker id is required</span
  >&nbsp;
  <button type="submit" [disabled]="this.getBrokerForm.invalid">
    Get Broker
  </button>
</form>

<hr />
<p *ngIf="broker != null">
  <span>{{ broker.id }} </span> -> <span>{{ broker.brokerCode }} </span> ->
  <span>{{ broker.brokerName }}</span>
</p>
<hr />

<ul *ngIf="brokers != null">
  <li *ngFor="let broker of brokers">
    <span>{{ broker.id }} </span> -> <span>{{ broker.brokerCode }} </span> ->
    <span>{{ broker.brokerName }}</span>
  </li>
</ul>
